body{
    background-image:url(bg-header-mobile.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    margin: 0;
      

}
header{
    display: grid;
    grid-template-columns: max-content;
    justify-content: center;
    margin-top: 60px;
    margin-left: 40px;
    
}
h1{
    font-family: 
}
.ios{
    padding:10px;
    width: max-content;
    background-color:rgb(50, 150, 150);
    border-radius: 20px;
    color: white;
    font-size: medium;
}
.mac{
    padding:10px;
    width: max-content;
    background-color: rgb(91, 74, 185);
    border-radius: 20px;
    color: white;
    font-size: medium;
}
section.header-text {
    margin-top: 40px;
    margin-block-end: 30px;
    font-size: x-large;
    font-family: system-ui;
   
    
}
p{
    color: slategrey;
}
h1 h2 h3{
    color: rgb(65, 64, 64);
}
section.header-logo {
    display: block;
    margin-left: 150px;
}
section.menu-header {
    margin-inline: 70px;
}

section.tx-1 {
    margin-top: 150px;
    margin-left: 400px;
}   
section.tx-1 p {
    
    margin-left: 300px;
}
section.tx-1 p {
    margin-left: -80px;
}


img.img-1  {
    
    grid-template-columns: max-content;
    justify-content: center;
    margin-top: 60px;
    margin-left: 40px;
    width: 500px;
}

.container{
    display: flex;
    justify-content: space-around;
    
}
.main-2{
    display: grid;
    grid-template-columns: max-content;
    justify-content: center;
    margin-top: 60px;
    margin-left: 40px;
}